

<h1>Listing Selectors</h1>

<table class="table table-striped table-bordered table-condensed">  <thead>
<%#= link_to "All Users", :action => "index" %>
|
<%#= link_to "Users awaiting approval", :action => "index", :approved => "false" %>
<table>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.approved %>
      </td>
      <td>
        <%= link_to "Edit", edit_user_registration_path(user) %>
      </td>
    </tr>
  <% end %>
</table>
